body, html {
    height: 100%;
    padding: none;
}
body {
    background: linear-gradient(180deg, rgba(224,246,250,1) 0%, rgba(244,254,255,1) 57%, rgba(235,237,236,1) 64%, rgba(214,178,160,1) 100%);
}
/***   CUSTOM INDEX   ***/

.bg-index{
    background-image: url('../img/bg-index.png');
    background-repeat: no-repeat;
    background-size: initial;
    background-position-x: 50%;
    background-size: cover;
}

#form-index{
    width: 340px;
    margin-top: 100px;
    position: absolute;
}

#logo-index{
    width: 243px;
    height: 217px;
    margin: 0 auto;
    background-image: url('../img/logo-login.png');
}


.form-content{
    width: 100%;
    margin-top: 10px;
}

.bg-index-input{
    background-image: url('../img/bg-index-input.png');
    background-repeat: no-repeat;

    margin: 0 auto;
    width: 260px;  
    height: 60px;
}

#bg-index-button{
    background-image: url('../img/bg-index-button.png');
    background-repeat: no-repeat;

    margin: 0 auto;
    width: 262px;  
    height: 60px;
    cursor: pointer;
}

#bg-index-button-e{
    background-image: url('../img/bg-index-button-e.png');
    background-repeat: no-repeat;

    margin: 0 auto;
    width: 262px;  
    height: 60px;
}

#index-button{
    width: 80%;
    height: 50px;
    color: white;
    font-size: 18px;
    margin: 0 10%;
    cursor: pointer;
}

.input{
    width: 70%;
    height: 30px;
    margin: 10px 15%;
}
