/***   GENERAL   ***/
@font-face{
    font-family: helvetica;
    src: url('../font/helvetica-rounded-bold.otf');
    font-weight: 600;
}

@font-face{
    font-family: helvetica;
    src: url('../font/helvetica-rounded-bold.otf');
    font-weight: 400;
}

@font-face{
    font-family: helvetica;
    src: url('../font/helvetica-rounded-bold.otf');
    font-weight: 700;
}


*{
    margin: 0;
    padding: 0;    
    font-family: helvetica;
}

body{
    background-color: white;
    background: url(../img/fondo.jpg) no-repeat top center;
    /* background-size: cover; */
    overflow-x: hidden;
}

.screen {
    width: 100%;
    height: 100%;
     background-image: url('../img/bg-screen.png');
    background-repeat:repeat-x; 
}

a:link, a:visited, a:active{
    text-decoration: none;
    color: white;

}

.container{
    width: 1280px;
    height: 720px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
}

.input{
    border: 0;
    background-color: transparent;
    color: #002559;
    border-bottom: 2px solid;
    font-size: 18px;
}

input:focus{
    outline: 0;
    border: 0;
}

input::placeholder{
    color: #ccc;
}

button{
    background-color: transparent;
    border: 0;
}

button:focus{
    outline: 0;
    border: 0;
}

.show{
    display: block;
}

.hide{
    display: none;
}

/* SCROLL BAR */

/* ::-webkit-scrollbar {
    width: 8px;
    margin-right: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
} */





.col-text-base{
    color:#002D74
}

.col-color1{
    color: #FF4F00;
}
.bg-color1{
    background-color: #FF4F00;
}
.col-color2{
    color: #FF8400;
}
.bg-color2{
    background-color: #FF8400;
}
.col-color3{
    color: #FFB81C;
}
.bg-color3{
    background-color: #FFB81C;
}
.col-color4{
    color: #E00070;
}
.bg-color4{
    background-color: #E00070;
}
.col-color5{
    color: #72BF44;
}
.bg-color5{
    background-color: #72BF44;
}
.col-color6{
    color: #00B2D5;
}
.bg-color6{
    background-color: #00B2D5;
}


