.acertijo-body{
    width: 100%;
    height: 640px;
    margin-top: 60px;
}

.logo-section{
    width: 230px;
    height: 100%;
    float: left;
}

#logo-samay{
    width: 200px;
    height: 100px;
    background-image: url(../img/logo-samay-acertijo.png);
}

.option-section{
    width: 230px;
    height: 100%;
    float: right;    
}

.option-content{
    width: 100%;
    height: 390px;
    margin-top: 80px;
}

.bg-btn-options{
    width: 130px;
    height: 130px;
    background-image: url(../img/btn-options.png);
    margin: 0 auto;
}

.btn-option{
    width: 100px;
    height: 100px;
    margin: 15px 15px;
    float: left;
    border-radius: 50%;
    color: white;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}


.bg-options{
  /*  background-color: #72bf44; */
    background-color: #002559e7;
}

.text-color-default{
    color: #002d74;
}

.panel-content{
    width: 1050px;
    height: 380px;
    float: right;
    margin: 140px 0 0 0;
}

.panel-info{

    width: 820px;
    height: 380px;
    background-image: url(../img/bg-options.png);
    float: left;
    position: relative;

}

.user{
    width: 400px;
    height: 80px;
    background-color: yellow;
    margin-top: 10px;
}

.option-active{
    width: 230px;
    height: 390px;
    float: right;
}

.option-team{
    width: 130px;
    height: 130px;
    margin: 148px auto 0 auto;
    background-image: url(../img/btn-options-visited.png);
    line-height: 130px;
    color: white;  
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
}

.option-rules{
    width: 130px;
    height: 130px;
    margin: 260px auto 0 auto;
    background-image: url(../img/btn-options-visited.png); 
    line-height: 130px;
    color: white;  
    text-align: center;
    font-size: 18px;
}

form#formTeam {
    width: 714px;
    height: 60px;
    margin: 40px auto 20px auto;
    background-image: url(../img/user/bg-teamName.png);
    background-repeat: no-repeat;
}

#groupName {
    width: 450px;
    height: 50px;
    margin: 6px 35px;
    border: 0;
    color: #002559;
}
#formTeam button{
    width: 188px;
    height: 60px;
    border-radius: 0 50px 50px 0;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

ul#team-list {
    float: left;
    width: 680px;
    height: 210px;
    margin: 0px 70px;
}

#team-list li{
    width: 100%;
    height: 70px;
    font-size: 18px;
    color: white;
    line-height: 30px;
}

.info-rules{
    width: 780px;
    height: 250px;
    overflow-y: auto;
}


.panel-info h1{
    height: 80px;
    line-height: 80px;
    color: white;
    margin: 10px 50px;
}

span.icon-rules {
    width: 10px;
    height: 5px;
    background-color: white;
    margin-top: 11px;
    margin-left: -20px;
    float: left;
}

.panel-info p{
    margin: 10px 30px 10px 70px;
    line-height: 30px;
    font-size: 18px;
    color: white;
}

#bg-der{
    width: 139px;
    height: 115px;
    position: absolute;
    background-image: url(../img/bg-der.png);
    /* margin-left: 1141px; */
    top: 0; 
    right: 0;
}

#bg-izq {
    width: 192px;
    height: 217px;
    position: absolute;
    background-image: url(../img/bg-izq.png);
    /* margin-top: 503px; */
    bottom: 0; 
    left: 0;
}


#feedback-info {
    width: 730px;
    height: 275px;
    margin: 40px;
    position: absolute;
    line-height: 30px;
    font-size: 18px;
    overflow: auto;
}

#video-panel{
    background-color:#000000cc;
}

#closeVideo{
    margin: 20px auto;
}

#videoFin{
    width: 960px;
    height: 540px;
    margin: 0px 170px;
    position: relative;
    background-color: beige;
}
