.ranking-body{
    width: 100%;
    height: 100%;
    /* background-image: url(../img/ranking/bg-ranking.png); */
}


.option-content{
    margin-top: 140px;
}

#ranking-content{
    width: 1050px;
    height: 720px;
    float: left;
}

#logo-index{
    width: 200px;
    height: 180px;
    margin: 80px auto;
    background-image: url(../img/logo-login.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.ranking-section{
    width: 820px;    
    height: 100%;  
    float: left;
}

.ranking-index{
    width: 402px;
    height: 570px;
    margin: 80px auto 0 auto;
    background-image: url(../img/ranking/bg-listRanking.png);
    background-repeat: no-repeat;
}

.ranking{
    width: 360px;
    height: 70px;
    margin: 5px 0 5px 40px;
    float: left;
    color: white;
    font-size: 20px;
    text-align: left;
    cursor: pointer;
    line-height: 75px;
}

.bg-btn-optionsRkn{
    width: 130px;
    height: 130px;
    background-image: url(../img/ranking/btn-optionsRanking.png);
    margin: 0 auto;
    margin-top: 10px;
}

table{
    border:0;
    border-spacing: 0;
    border-radius: 1em;
    overflow: hidden;
}

#ranking-table{
    height: 680px;
    width: 1030px;
    margin: 20px 0 20px 20px
;
}

#ranking-table thead{
    width: 100%;
    height: 50px;
    float: left;
    /* margin: 20px 25px 10px 25px; */
    line-height: 50px;
    color: white;
    font-size: 22px;
    background: #00245C;
    color: white;

    padding: 10px 0;
}

#ranking-data{
    width: 100%;
    max-height: 587px;
    float: left;
    line-height: 50px;
    color: white;
    overflow-y: initial;
    overflow-x: hidden;
    background: #00245C;
    /* margin-top: 3px; */
    
}

#ranking-data tr{
    float: left;
    padding: 0 25px;
    /* margin: 0 0px 0 9px; */
    margin: 1px 0;
}

.table-name{
    width: 608px;
    text-align: left;
    padding-left: 30px;
}

.table-info{
    width: 180px;
    text-align: center;
}
th.table-info , #ranking-titulo {
    color: white;
}

.bg-general1{
    background-color:#0d387b ;
}
.bg-general2{
    background-color:#1a4282 ;
}
.bg-general3{
    background-color:#264d89 ;
}
.bg-general4{
    background-color:#335790 ;
}
.bg-general5{
    background-color:#406197 ;
}

.bg-a11{
    background-color:#ff8b00 ;
}
.bg-a12{
    background-color:#ff9100 ;
}
.bg-a13{
    background-color:#ff9708 ;
}
.bg-a14{
    background-color:#ff9e21 ;
}
.bg-a15{
    background-color:#ffa533 ;
}

.bg-a21{
    background-color:#0A3065 ;
}
.bg-a22{
    background-color:#173B6D ;
}
.bg-a23{
    background-color:#244575 ;
}
.bg-a24{
    background-color:#31517C ;
}
.bg-a25{
    background-color:#3E5C86 ;
}

.bg-a31{
    background-color:#FFBB27 ;
}
.bg-a32{
    background-color:#FFBF33 ;
}
.bg-a33{
    background-color:#FFC33E ;
}
.bg-a34{
    background-color:#FFC649 ;
}
.bg-a35{
    background-color:#FFCA55 ;
}

.bg-a41{
    background-color:#79C24D ;
}
.bg-a42{
    background-color:#80C557 ;
}
.bg-a43{
    background-color:#87C960 ;
}
.bg-a44{
    background-color:#8ECC69 ;
}
.bg-a45{
    background-color:#95CF73 ;
}

.bg-a51{
    background-color:#E20D77 ;
}
.bg-a52{
    background-color:#E31A7E ;
}
.bg-a53{
    background-color:#E52685 ;
}
.bg-a54{
    background-color:#E6338D ;
}
.bg-a55{
    background-color:#E84094 ;
}

.bg-a61{
    background-color:#FF580D ;
}
.bg-a62{
    background-color:#FF611A ;
}
.bg-a63{
    background-color:#FF6926 ;
}
.bg-a64{
    background-color:#FF7233 ;
}
.bg-a65{
    background-color:#FF7B40 ;
}

