@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


.acertijo-section{
    width: 820px;
    height: 100%;
    float: left;

}

.text-color{
    color: #002559;
}

.border-color{
   /*  border-color: #FFB81C; */
     border-color: #002559; 
   
}

.bg-color{
  /*  background-color: #FFB81Ce7;; */
    background-color: #002559e7;;
}



/* TITLE */

.acertijo-header{
    width: 100%;
    height: 80px;
}

.img-titleA{
    width: 80px;
    height: 80px;
    float: left;
    background-image: url(../img/theme/yellow/img-titleA.png);
    margin-right: 10px;
    
}

.img-titleB{
    width: 45px;
    height: 80px;
    float: left;
    background-image: url(../img/theme/yellow/img-titleB.png);

    display: none;
    
}

#acertijo-title{
    height: 80px;
    line-height: 80px;
}

/* BODY */

.acertijo-content{
    width: 100%;
    height: 380px;
    background-image: url(../img/theme/yellow/bg-acertijo.png);
}

#acertijo-info{
    width: 820px;
    height: 380px;
    /* margin: 2px 6px; */
    float: left;
}

#bg-iniciar{
    width: 820px;
    height: 380px;
    background-image: url(../img/theme/yellow/bg-iniciar.png);
    background-size: cover;
}

.bg-btn-iniciar{
    width: 100%;  
    height: 200px;
}

#btn-go{
    width: 100px;
    height: 100px;
    margin: 45px 360px 0 360px;
    float: left;
    border-radius: 50px;
    font-size: 40px;
    color: white;
    font-weight: 600;
    line-height: 100px;
    cursor: pointer;
}

#bg-iniciar h2{
    color: white;
    width: 600px;
    margin: 0px auto;
    text-align: center;
}


#timer {
    background-image: url(../img/theme/yellow/bg-timer.png);
    width: 150px;
    height: 60px;
    float: right;
    color: white;
    line-height: 60px;
    text-align: center;
    font-size: 18px;   
    /* margin-right: -2px;
    margin-top: -2px; */
}

.bg-audio{
    width: 100%;
    height: 100%;
    background-image: url(../img/theme/yellow/bg-audio.png);
}

#play-audio{
    width: 120px;
    height: 120px;
    margin: 60px 350px;
    float: left;
    border-radius: 50px;
    cursor: pointer;
}

#text-info{
    width: 730px;
    height: 275px;
    margin: 0px 40px 15px;
    float: left;
    line-height: 30px;
    font-size: 18px;
    overflow: auto;
}

#btn-info{
    float: left;
    height: 45px;
    width: 300px;
    margin: 0 255px;
    line-height: 45px;
    text-align: center;
    background-image: url(../img/theme/yellow/material.png);
    cursor: pointer;
    color: white;
    font-size: 18px;
}


/* FORM */

#acertijo-form {
    width: 100%;
    height: 180px;
    box-sizing: border-box;
}

.form-content{
    width: 100%;
    height: 140px;
    margin-top: 20px;
    float: left;
}

.form-division{
    width: 100%;
    height: 70px;
    float: left;
    font-size: 20px;    
    /* margin-bottom: 14px; */
}

.bg-answer{
    width: 100%;
    height: 60px;
    margin: 5px 0;
    background-image: url(../img/theme/yellow/bg-answer.png);
}

.bg-answer-e{
    width: 100%;
    height: 60px;
    margin: 5px 0;
    background-image: url(../img/theme/yellow/bg-answer-e.png);
    text-align: center;
    color: white; 
    line-height: 60px;

}

#bg-clave{
    width: 560px;
    height: 30px;
    position: absolute;
    margin: 15px 35px;
    z-index: -10;
}


#bg-clave span{
    width: 16px;
    height: 30px;
    position: relative;
    float: left;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    margin: 0 2px;
}
    
#clave{
    width: 550px;
    height: 30px;
    margin: 15px 40px;
    text-transform: uppercase;
    z-index: 10;
    letter-spacing: 9px;
    border: 0;
    font-family: 'Roboto Mono', monospace;
    font-weight: 800;
}

#btn-comprobar{
    width: 190px;
    height: 60px;
    float: right;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.space{
    width: 20px;
    height: 70px;
    float: left;
}

.bg-tip{
    width: 190px;
    height: 60px;
    margin: 5px 0;
    float: left;
    
    position: relative;
}

.bg-solution{
    width: 400px;
    height: 60px;
    float: left;
    margin: 5px 0;

    position: relative;
}

.tip{
    width: 190px;
    height: 60px;
    cursor: pointer;
    font-size: 20px;
}

.tip-normal{
    background-image: url(../img/theme/yellow/tip-normal.png);
    cursor: default;
}

.tip-active{
    background-image: url(../img/theme/yellow/tip-active.png);
    color: white;
}

.tip1-visited{
    display: none;
}

.solution{
    width: 400px;
    height: 60px;
    cursor: pointer;
    font-size: 20px;
   /* color: white; */
}

.sol-normal{
    background-image: url(../img/theme/yellow/sol-normal.png);
    color:  white;
}
.sol-active{
    background-image: url(../img/theme/yellow/sol-active.png);
    color: white;
}


.warning-tip {
    width: 130px;
    height: 60px;
    background-image: url(../img/theme/yellow/tip-warning.png);
    position: absolute;
    margin: -160px 0;
    text-align: center;
    font-size: 18px;
    padding: 20px 35px;
}

.warning-solution {
    width: 320px;
    height: 60px;
    background-image: url(../img/theme/yellow/sol-warning.png);
    position: absolute;
    margin: -160px 0;
    text-align: center;
    font-size: 18px;
    padding: 20px 30px;
}

.btnSiNo{
    width: 200px;
    height: 60px;
    cursor: pointer;
    font-size: 20px;
    background-image: url(../img/theme/yellow/si-no.png);
    color:white;
}



/*  PISTAS NUEVA */

.tip-warning {
    width: 620px;
    height: 180px;
    margin: 60px 100px 30px 100px;
    float: left;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: white;
}

.btn-warning {
    width: 525px;
    height: 60px;
    float: left;
    margin: 0px 148px;
}

.pista{
    width: 200px;
    height: 60px;
    cursor: pointer;
    font-size: 20px;
}

.btn-pista{
    margin: 0 30px
}

.bg-pista {
    width: 820px;
    height: 380px;
    background-image: url(../img/theme/yellow/bg-tip.png);
}


.external-content{

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    /* background-color: #002D7420; */
    
    
}

.tip-close  {
    width: 60px;
    height: 60px;
    float: right;
    background-image: url(../img/theme/yellow/close.png);
    margin: -25px -25px;
    cursor: pointer;
}

.tip-content{
    width: 820px;
    height: 535px;
    margin: 140px auto 0 auto;
}

.tip-text{
    width: 620px;
    height: 220px;
    background-image: url(../img/theme/yellow/bg-tip.png);
    padding: 80px 100px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    color: white;
}

.info-tip-show{
    float: left;
    color: white;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
}

#show-tip1{
    width: 190px;
    height: 60px;
    margin: 95px 0px 0 0;
    background-image: url(../img/theme/yellow/tip-active.png);
    border: 4px solid white;
    border-radius: 35px;
    background: #00235c;
}

#show-tip2{
    width: 190px;
    height: 60px;
    margin: 95px 0px 0 210px;
    background-image: url(../img/theme/yellow/tip-active.png);
border: 4px solid white;
    border-radius: 35px;
    background: #00235c;
}

#show-solution{
    width: 400px;
    height: 60px;
    margin: 95px 0px 0 420px;
    background-image: url(../img/theme/yellow/sol-visited.png);
    
}

.zIndex100{
    z-index: 100;
}

.zIndex1{
    z-index: 1;
}

.bg-feedback{
    width: 820px;
    height: 380px;
    background-image: url(../img/theme/yellow/bg-feedback.png);
    background-size: cover; 
}

#total-time{
    width: 100px;
    height: 100px;
    float: right;
    background-image: url(../img/theme/yellow/feedback-timer.png);
    line-height: 100px;
    text-align: center;
    margin: -50px;
    color: white;
    font-size: 20px;
}

#total-points{
    width: 475px;
    height: 60px;
    float: right;
    margin-top: 320px;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 20px;
}

#feedback-content{
    width: 820px;
    position: absolute;
}

#info-solucion{
    width: 820px;
    height: 60px;
    /* background: burlywood; */
    line-height: 60px;
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 16px;
}

#info-feedback{
    width: 820px;
    margin: 30px 0;
    font-size: 18px;
}

#bg-answer-ok{
    width: 820px;
    height: 60px;
    background-image: url(../img/theme/yellow/bg-answer-ok.png);
    font-size: 18px;
    color: white;
    cursor: pointer;
    line-height: 60px;
    text-align: center;
}
#btn-feedback{
    width: 820px;
    height: 60px;
    background-image: url(../img/theme/yellow/btn-feeback.png);
    font-size: 18px;
    color: white;
    cursor: pointer;
    line-height: 60px;
    text-align: center;
}


/* jaraya 16-dic-2021 Añadido mensaje a pista activada */
.bg-tip.active::after {
    content: "Usarla no quita puntos";
    width: 100%;
    height: 20px;
    display: block;
    font-size: 0.6em;
    color: #70CD1F;
    text-align: center;
    background: rgba(255,255,255,0.9);
    border-radius:  10px;
    margin-top: 0.7em;
    text-transform: uppercase;
}
