

/* jaraya 16-dic-2021 Añadido mensaje a pista activada */
.bg-tip.active::after {
    content: "Usarla no quita puntos";
    width: 100%;
    height: 20px;
    display: block;
    font-size: 0.6em;
    color: #70CD1F;
    text-align: center;
    background: rgba(255,255,255,0.9);
    border-radius:  10px;
    margin-top: 0.7em;
    text-transform: uppercase;
}
