/***   CUSTOM WELCOME   ***/

#bg-welcome{
    width: 1280px;
    height: 720px;
    float: left;
    margin: 0px;   
    background-image: url('../img/bg-welcome-c.png'); 
    background-repeat: no-repeat;
    
}

#form-welcome{
/*     width: 720px;
    height: 680px;
 */    /*background-image: url('../img/bg-historia-welcome.png');  cuadro blanco*/
    /* background-size: 500px 600px; */
    background-repeat: no-repeat; 
    /* margin: 60px auto 0 auto; */
    /* float: left; */
}

#welcome-title-content{
    width: 100%;
    height: 300px;
}

#welcome-title{
    width: 340px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    height: 210px;
    margin-top: 165px;
    float: center;
    color: #002559;
    /*text-align: justify; */ 
}

#welcome-title h4{
    font-size: 22px;
}

#welcome-title p{
    font-weight: 350px;
   /* font-style: italic; */
    line-height: 30px;
    font-size: 14px;
    text-align: center;  
    margin-bottom: 1em;
}

#btn-welcome{
    width: 400px;
    background: url('../img/btn-welcome.png') top center;  
    background-repeat: no-repeat;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin:  0 auto;
    text-align: center;
    margin-top: 100px;
    padding: 15px;
}

#welcome-check{
    width: 100%;
    height: 435px;
    font-size: 18px;
    
}

.check-content{
    width: 50%;
    float: left;
}

.box-check{

    width: 95%;
    margin: 30px 0;
}

.check{
    display:none;
}

.lbl-check{
    padding-left:10px;
    position:relative;
    color: white;
}

.lbl-check p{
    margin-left: 40px;
    margin-top: -25px;
}

.lbl-check:before{
    content:'';
    width:15px;
    height:15px;
    float:left;
    border-radius: 5px;
    transform: rotatez(-30deg) scaleY(0.85);
    border:solid 3px;
}

.check:checked + #lbl-a:before{
    background-color:#FF4F00;
}

#lbl-a:before{
    border-color: #FF4F00;
    background-color: #dedede
}
    
.check:checked + #lbl-b:before{
    background-color:#FF8400;
}

#lbl-b:before{
    border-color: #FF8400;
    background-color: #dedede
}

.check:checked + #lbl-c:before{
    background-color:#FFB81C;
}

#lbl-c:before{
    border-color: #FFB81C;
    background-color: #dedede
}

.check:checked + #lbl-d:before{
    background-color:#E00070;
}

#lbl-d:before{
    border-color: #E00070;
    background-color: #dedede
}

.check:checked + #lbl-e:before{
    background-color:#72BF44;
}

#lbl-e:before{
    border-color: #72BF44;
    background-color: #dedede
}

.check:checked + #lbl-f:before{
    background-color:#00B2D5;
}

#lbl-f:before{
    border-color: #00B2D5;
    background-color: #dedede
}
